dl{
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,.5);
}
dl.hiden{
    opacity: 0;
    transform: rotate(60deg);
    height: 0px !important;
    transition: all 3166ms cubic-bezier(.23, 1.425, .455, 1.49),height 300ms ease 1166ms,opacity 1166ms ease 300ms;
    transform-origin: 5% 5%;
}
dt{
    height: 39px;
    border-bottom: 1px solid #ddd;
    background: #f5f5f5;
    border-radius: 5px 5px 0 0;
}
dt h4{
    color: #e8b118;
    float: left;
    margin: 12px 0 0 15px;
    font-size: 14px;
}
dt .close{
    float: right;
    width: 20px;
    height: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-align: center;
    line-height: 20px;
    margin: 10px 10px 0 0;
    cursor: pointer;
    transition: 0.5s;
}
dt .close:hover{
    transform: rotateZ(180deg);
}
dd{
    height: 400px;
    background: rgba(255, 255, 255, .8);
    padding: 20px;
    border-radius: 0 0 5px 5px;
    overflow: auto;
}
dd ul{
    overflow: hidden;
    padding: 0 50px;
    text-shadow: 0 0 2px #fff;
}
dd ul li{
    position: relative;
    float: left;
    width: 50%;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
}
dd ul li .liname{
    letter-spacing: 30px;
    margin-right: 60px;
}
dd ul li .rep{
    position: absolute;
    top: 0;
    left: 95px;
    display: none;
}
dd ul li .rep input{
    width: 150px;
    margin-right: 20px;
}

dd ul .change .rep{
    display: block;
}