.wBox{
    position: absolute;
    top: 0;
    left: -90px;
    width: 100%;
    height: 100%;
    background: url(./img/bg1.jpg) no-repeat 90px 0;
    background-size: 100%;
    z-index: 6;
    transition: all 300ms ease 300ms;
}
.bg .wBox{
    background: url(./img/bg2.jpg) no-repeat 90px 0;
    background-size: 100%;
}
.wBox .ybtn{
    position: absolute;
    top: 0;
    left: 0;
    width:300px;
    height: 100%;
    margin-left: 90px;
}
.ybtn li{
    position: relative;
    width: 300px;
    height: 300px;
}
.ybtn li .btn{
    width: 180px;
    height: 180px;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -90px 0 0 -90px;
    border-radius: 90px;
    box-shadow: 2px 2px 5px #000;
    transition: all 150ms ease,background 300ms ease;
}
.ybtn li .btn:hover{
    background: rgba(167,25,85,0.2);
}
.ybtn li .btn:active{
    top:153px;
    left: 153px;
    box-shadow: 0 0 4px #000;
}
.ybtn li .btn span{
    width: 150px;
    height: 150px;
    margin: 15px;
    display: block;
    border-radius: 75px;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.2), rgba(255,255,255,0));
}
.ybtn li .btn span:after{
    background: url(./img/btn_menu_01.png) no-repeat center center;
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    opacity: .8;
}
.ybtn li:nth-of-type(2) .btn span:after{
    background: url(./img/btn_menu_02.png) no-repeat center center;
}

.wBox .right{
    position: absolute;
    top: 0;
    right: 0;
    width: 900px;
    padding: 50px;
    transition: all 600ms ease;
    overflow: hidden;
}
.wBox .right > li:nth-of-type(1){
    height: 580px;
    margin-bottom: 30px;
}
.wBox .right > li:nth-of-type(2){
    height: 580px;
}

.bg .wBox .right{
    top: -630px;
}
.bg .wBox .right>li{
    height: 580px;
}